$gew: (
    50 : #fce0e3,
    100 : #f7b3ba,
    200 : #f1808c,
    300 : #eb4d5d,
    400 : #e7263b,
    500 : #e30018,
    600 : #e00015,
    700 : #dc0011,
    800 : #d8000e,
    900 : #d00008,
    A100 : #fff8f8,
    A200 : #ffc5c6,
    A400 : #ff9293,
    A700 : #ff797a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$openslides-primary: mat-palette($gew);
$openslides-accent: mat-palette($gew);
$openslides-warn: mat-palette($mat-red);

$gew-theme: mat-light-theme(
    $openslides-primary,
    $openslides-accent,
    $openslides-warn
)
