<div *ngIf="data">
    <div class="slidetitle">
        <h1>{{ data.data.title }}</h1>
        <h2><span translate>Motion block</span> – {{ data.data.motions.length }} <span translate>motions</span></h2>
    </div>
    <div id="motion-block-slide-text-wrapper">
    <div [ngStyle]="textDivStyles">

    <table>
        <tr *ngFor="let i of rowsArray">
            <td *ngFor="let j of columnsArray">
                <ng-container *ngIf="getMotion(i, j)">
                    <div class="ellipsis-overflow spacer-top-5">
                        {{ getMotionTitle(i, j) }}
                    </div>
                </ng-container>
            </td>
        </tr>
    </table>
    </div>
    </div>
</div>
