<div class="form-group">
  <label>{{ label }}</label>

  <div class="input-group">
    <input ng-model="value" ng-change="save(configOption.key, value)" id="{{ id }}" type="{{ type }}"
        class="form-control">
    <span class="input-group-btn">
      <button ng-click="config.value = '1'" class="btn btn-default" translate>
        <i class="fa fa-undo"></i>
        <translate>Reset</translate>{{ configOption.default_value }}
      </button>
    </span>
  </div>
  <p ng-if="help_text" class="help-block">{{ help_text }}</p>
</div>
