<div *ngIf="data">
    <div class="slidetitle">
        <h1 translate>List of speakers</h1>
    </div>

    <div id="slide-text-wrapper">
    <div [ngStyle]="textDivStyles">
    <!-- Last speakers -->
    <div *ngIf="data.data.finished && data.data.finished.length">
        <div *ngFor="let speaker of data.data.finished" class="lastSpeakers">
            {{ speaker.user }}
            <mat-icon *ngIf="speaker.marked">star</mat-icon>
        </div>
    </div>

    <!-- Current speaker -->
    <div *ngIf="data.data.current" class="currentSpeaker">
        <div>
            {{ getSpeakerNameWithLinebreak(data.data.current.user)[0] }}
            <mat-icon *ngIf="data.data.current.marked">star</mat-icon>
        </div>
        <div>
            {{ getSpeakerNameWithLinebreak(data.data.current.user)[1] }}
        </div>
    </div>

    <!-- Next speakers -->
    <div *ngIf="data.data.waiting && data.data.waiting.length">
        <ol class="nextSpeakers">
            <li *ngFor="let speaker of data.data.waiting">
                {{ getSpeakerNameWithLinebreak(speaker.user)[0] }}
                <mat-icon *ngIf="speaker.marked">star</mat-icon>
                <br>
                {{ getSpeakerNameWithLinebreak(speaker.user)[1] }}
            </li>
        </ol>
    </div>
    </div>
    </div>
</div>
